{
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0
  },
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  }
}